@import '../../../assets/sass/partials/colors';
@import '../../../assets/sass/partials/mixins';

.search {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.note {
  @include transition(all .15s ease-in-out);
  @include border-radius(4px);
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid $white;

  &:hover {
    border-color: $blue;
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
