<div *ngIf="notes">
  <div class="form-group">
    <input type="text" class="form-control search" placeholder="Search notes"
           [(ngModel)]="search" (ngModelChange)="onChange($event)">
  </div>
  <div *ngFor="let note of notes" class="note" [routerLink]="['/notes', note.id]">
    <ui-paper>
      <div class="title">
        {{note.title}}
      </div>
      <div class="description">
        {{note.description | limit:true:50:"..."}}
      </div>
    </ui-paper>
  </div>
</div>
<div *ngIf="!notes" class="text-center">
  <h4>No notes have been posted yet! :(</h4>
</div>
