<div class="container">
  <div class="row">
    <div class="col-sm-5 text-center">
      <ui-logo [width]="'275px'"></ui-logo>
    </div>
    <div class="col-sm-7 text-center">
      <h4 class="color color--dark-blue">Want to learn more?</h4>
      <h1 class="color color--dark-blue">Check out these Angular2 resources</h1>
      <div class="cta-boxes">
        <ui-cta-box [text]="'Angular2 docs'" [url]="'https://angular.io/'" [iconName]="'file-text-o'" [inline]="true"></ui-cta-box>
        <ui-cta-box [text]="'Angular2 code'" [url]="'https://github.com/angular/angular'" [iconName]="'code'" [inline]="true"></ui-cta-box>
      </div>
      <button routerLink="/chat-room" class="btn btn-primary">Go to chat room!</button>
    </div>
  </div>
</div>
